# Node
node_modules/
**/node_modules/

# Build outputs
.next/
out/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Prisma local
**/prisma/dev.db

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
